/*The top of website*/
#top {
    text-align: center;
}

/*Main part*/
#main {
    max-width: 800px;
    margin: auto;
    padding: 16px;
}

/*The body*/
body {
    font-family: Arial;
    padding: 20px;
    background: #f1f1f1;
  }

  /*Card effects*/
  .card {
    background-color: white;
    padding: 20px;
    margin-top: 20px;
  }

/*The style of the Download buttons*/
.buttonDownload {
    background-color: rgb(46, 180, 106);
        border: none;
        color: white;
        padding: 12px 30px;
        cursor: pointer;
        font-size: 20px;
}

/*The hover effect of the download Buttons*/
.buttonDownload:hover {
    background-color: rgb(36, 138, 82);
  }

  /*The style of the pictures*/
#pictures {
    height: auto;
}

/*The big text on the top*/
#maintextoben {
    font-size: xx-large;
    font-family:monospace;
    background-color: rgb(49, 209, 121);
}

/* For Safari, Opera etc */
::selection {
  background: rgb(49, 209, 121);
  color: white;
}

/* for Mozilla Firefox*/
::-moz-selection {
  background: rgb(49, 209, 121);
  color: white;
}