/*The body*/
body {
    font-family:Arial, Helvetica, sans-serif;
    margin: 0;
}

/*The style of the top of the website*/
#top {
    text-align: center;
}

/*The navigation of the website*/
#navigation a {
    color: rgb(49, 209, 121);
    padding: 8px;
}

/*The main part*/
#main {
    max-width: 800px;
    margin: auto;
    padding: 16px;
}

/*The footer of the website where the: "zlELo // hostet with love on GitHub" stays*/
#footer {
    text-align: center;
    color: gray;
    padding: 16px;
}

/* The style for pictures*/
#pic {
    display: flex; 
    justify-content: center; 
    align-items: center;
    width: auto;
}

/* The extra style for the github picture*/
#GitHub-pic {
    display: flex; 
    justify-content: center; 
    align-items: center;
}

/*The main text (The text on the top of the website)*/
#maintextoben {
    font-size: xx-large;
    font-family:monospace;
    background-color: rgb(49, 209, 121);
}

/* For Safari, Opera etc */
::selection {
    background: rgb(49, 209, 121);
    color: white;
}
/* for Mozilla Firefox*/
::-moz-selection {
    background: rgb(49, 209, 121);
    color: white;
}